body{
    height: 300px;
}
td{
    color: white;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: white 2px solid;
    box-shadow: 1px 1px 2px rgba(0,0,0,1);
    background-color: black;
}
#week>td{
    background-color: skyblue;
}